In [17]:
import pandas as pd

data = {
    'URL': ['https://www.example.com', 'https://www.example2.com', 'https://www.example3.com'],
    'date': ['Aug 8, 2002', 'Aug 15, 2003', 'Aug 20, 2004']
}

df = pd.DataFrame(data)

print(df)

                        URL          date
0   https://www.example.com   Aug 8, 2002
1  https://www.example2.com  Aug 15, 2003
2  https://www.example3.com  Aug 20, 2004

In [20]:
def GetFirstDaysOfEachMonth(input_df):
        """
        This function will get the first update of each month only
        input_df contains column "date" and "url"
        """

        dates = input_df['date'].tolist()
        first_days_of_each_month = []
        # Loop through the list of dates
        for i in range (0,len(dates)):
            if (i+1<len(dates)): # Check if the next date exists
                next_date = dates[i+1] # Get the next date
            else: break
            current_month = dates[i].split(' ')[0] # Get the current month
            print(i)
            next_month = next_date.split(' ')[0] # Get the next month
            if (current_month != next_month): # Check if the current month is different from the next month
                first_days_of_each_month.append(dates[i])
        result = input_df[input_df['date'].isin(first_days_of_each_month)]
        return result
GetFirstDaysOfEachMonth(df)

0
1

Empty DataFrame
Columns: [URL, date]
Index: []

In [3]:
import re
from datetime import datetime
def ExtractInfosString(str):
        age = re.findall(r'\d+', str)[0]
        birth_date = re.findall(r'[A-Za-z]+\s\d+,\s\d+', str)[0]
        birth_date = ConvertUpdateDate(birth_date)
        height = re.findall(r'\d+cm', str)[0][:-2]
        weight = re.findall(r'\d+kg', str)[0][:-2]
        
        result_list = [age, birth_date, height, weight]

        return result_list

def ConvertUpdateDate(str):
        date_object = datetime.strptime(str, '%b %d, %Y')
        formatted_date = date_object.strftime('%Y-%m-%d')
        return formatted_date

In [31]:
text = "27y.o. (Jun 22, 1996) 191cm / 6'3\" 82kg / 181lbs"
ExtractInfosString(text)

['27', '1996-06-22', '191', '82']

In [4]:
def ConvertUpdateDate(str):
        date_object = datetime.strptime(str, '%b %d, %Y')
        formatted_date = date_object.strftime('%Y-%m-%d')
        return formatted_date
ConvertUpdateDate('Jun 22, 1996')

'1996-06-22'