In [42]:
import pandas as pd

data = {
    'URL': ['https://www.example.com', 'https://www.example2.com', 'https://www.example3.com', 'https://www.example4.com'],
    'date': ['Aug 15, 2002', 'Aug 8, 2002', 'Aug 3, 2002', 'Jul 3, 2002'],
}

df = pd.DataFrame(data)

print(df)

                        URL          date
0   https://www.example.com  Aug 15, 2002
1  https://www.example2.com   Aug 8, 2002
2  https://www.example3.com   Aug 3, 2002
3  https://www.example4.com   Jul 3, 2002

In [ ]:
# date_string = "Aug 15, 2002"
# date = datetime.strptime(date_string, "%b %d, %Y")
# formatted_date = date.strftime("%d/%m/%Y")

In [64]:
from datetime import datetime

def GetFirstDaysOfEachMonth(df):
    # Format "date" column
    df['date'] = pd.to_datetime(df['date'], format="%b %d, %Y")
    df['year'] = df['date'].dt.year
    df['month'] = df['date'].dt.month
    df['day'] = df['date'].dt.day

    # Find the minimum day for each month and year
    min_day_df = df.groupby(['year', 'month'])['day'].min().reset_index()
    # Merge with the original dataframe to get the corresponding URL
    result = pd.merge(df, min_day_df, on=['year', 'month', 'day'])
    return result[['URL', 'date']]
    
GetFirstDaysOfEachMonth(df)

                        URL       date
0  https://www.example3.com 2002-08-03
1  https://www.example4.com 2002-07-03

KeyError: 'Date'

In [3]:
import re
from datetime import datetime
def ExtractInfosString(str):
        age = re.findall(r'\d+', str)[0]
        birth_date = re.findall(r'[A-Za-z]+\s\d+,\s\d+', str)[0]
        birth_date = ConvertUpdateDate(birth_date)
        height = re.findall(r'\d+cm', str)[0][:-2]
        weight = re.findall(r'\d+kg', str)[0][:-2]
        
        result_list = [age, birth_date, height, weight]

        return result_list

def ConvertUpdateDate(str):
        date_object = datetime.strptime(str, '%b %d, %Y')
        formatted_date = date_object.strftime('%Y-%m-%d')
        return formatted_date

In [31]:
text = "27y.o. (Jun 22, 1996) 191cm / 6'3\" 82kg / 181lbs"
ExtractInfosString(text)

['27', '1996-06-22', '191', '82']

In [4]:
def ConvertUpdateDate(str):
        date_object = datetime.strptime(str, '%b %d, %Y')
        formatted_date = date_object.strftime('%Y-%m-%d')
        return formatted_date
ConvertUpdateDate('Jun 22, 1996')

'1996-06-22'